@using Profiling2.Web.Mvc.Areas.Documents.Controllers.ViewModels
@model DocumentationFileViewModel

@if (!ViewData.ModelState.IsValid)
{
    <div class="alert alert-error">
        @Html.ValidationSummary()
    </div>
}

<fieldset>
    <div class="control-group">
        <label class="control-label">File</label>
        <div class="controls">
            <input type="file" name="FileData" id="FileData" />
            @Html.HiddenFor(x => x.LastModifiedDate)
        </div>
    </div>
    <div class="control-group">
        <label class="control-label">Title</label>
        <div class="controls">
            @Html.TextBoxFor(x => x.Title, new { @class = "input-xxlarge" })
        </div>
    </div>
    <div class="control-group">
        <label class="control-label">Description</label>
        <div class="controls">
            @Html.TextBoxFor(x => x.Description, new { @class = "input-xxlarge" })
        </div>
    </div>
    <div class="control-group">
        <label class="control-label">Tag</label>
        <div class="controls">
            @Html.DropDownListFor(x => x.TagId, Model.TagSelectItems, new { @class = "input-xxlarge" })
        </div>
    </div>
</fieldset>
    
<div class="form-actions">
    <button type="submit" class="btn btn-primary">Save</button>
    @Html.ActionLink("Back", "Manage", "Home", new { area = "Documents" }, new { @class = "btn" })
</div>