@using Profiling2.Domain.Prf.Careers
@using Profiling2.Domain.Prf.Organizations
@using Profiling2.Domain.Prf.Units
@using Profiling2.Domain.Prf
@using Profiling2.Infrastructure.Security
@using Profiling2.Web.Mvc.Areas.Profiling.Controllers.ViewModels
@model Organization
@{
  ViewBag.Title = Model.OrgLongName;
}
@section scripts
{
  $(document).ready(function() {
    new Profiling.DataTable("units-table", {
      bServerSide: false
    });
    new Profiling.DataTable("careers-table", {
      bServerSide: false,
      aoColumns: [ null, { sType: "title-numeric" }, { sType: "title-numeric" }, { sType: "title-numeric" } ]
    });
    new Profiling.DataTable("organization-responsibilities-table", {
      bServerSide: false,
      @if (((PrfPrincipal)User).HasPermission(AdminPermission.CanViewAndSearchEvents))
      {
          @:aoColumns: [ { sType: "title-numeric" }, null, null ]
      }
      else
      {
          @:aoColumns: [ null, null ]
      }          
    });
  }); 
}

@if (((PrfPrincipal)User).HasPermission(AdminPermission.CanChangeOrganizations))
{
    <div class="btn-toolbar">
      <div class="btn-group">
          @Html.ActionLink("Edit Organization", "Edit", "Organizations", new { id = Model.Id, area = "Profiling" }, new { @class = "btn btn-mini" })
      </div>
      <div class="btn-group">
          @Html.ActionLink("Delete Organization", "Delete", "Organizations", new { area = "Profiling", id = Model.Id }, new { @class = "btn btn-mini" })
      </div>
    </div>
}

<h2>
  @Model.OrgLongName
</h2>

<dl class="dl-horizontal">
  @{
    OrganizationViewModel vm = new OrganizationViewModel(Model);
  }
  <dt>Abbr.</dt>
  <dd>@Model.OrgShortName</dd>
  <dt>Start Date</dt>
  <dd>@Html.Raw(vm.StartDate)</dd>
  <dt>End Date</dt>
  <dd>@Html.Raw(vm.EndDate)</dd>
  @if (!string.IsNullOrEmpty(Model.Notes))
  {
    <dt>Notes</dt>
    <dd>@Html.Raw(Model.Notes.Replace("\n", "<br />"))</dd>
  }
</dl>

<div class="clearfix">
  <hr />
  <h3>Units</h3>

  <table id="units-table" class="table table-bordered table-condensed">
    <thead>
      <tr>
        <th>Unit</th>
        <th>Background Information</th>
      </tr>
    </thead>
    <tbody>
      @foreach (Unit u in Model.Units)
      {
        <tr>
          <td style="white-space: nowrap;">@Html.Partial("_UnitLinkAndDates", u)</td>
          <td>@u.BackgroundInformation</td>
        </tr>
      }
    </tbody>
  </table>
</div>

<div class="clearfix">
  <hr />
  <h3>Careers</h3>

  @Html.Partial("_CareersTable", Model.Careers)
</div>

<div class="clearfix">
  <hr />
  <h3>Event Responsibilities</h3>

  @if (Model.OrganizationResponsibilities.Where(x => !x.Archive).Any())
  {
    @Html.Partial("_OrganizationResponsibilities", Model.OrganizationResponsibilities.Where(x => !x.Archive).ToList())
  }
</div>