@using Profiling2.Domain.Prf.Sources
@model IList<SourceDTO>
@{
    ViewBag.Title = "Previews - Passwords";
}
@section scripts
{
  $(document).ready(function() {
    new Profiling.DataTable("table", {
      bServerSide: false,
      aoColumns: [ { sType: "title-numeric" }, null, { bSearchable: false } ]
    });
  }); 
}

<h2>Previews</h2>

<p>This page lists the sources which cannot be previewed due to having a password.</p>

<hr />

<table id="table" class="table table-bordered">
    <thead>
        <tr>
            <th>Source ID</th>
            <th>Path</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (SourceDTO dto in Model)
        {
            <tr>
                <td>
                    <a href="@(Request.ApplicationPath + "/")Profiling/Sources#info/@dto.SourceID" title="@dto.SourceID" target="_blank">@dto.SourceID</a>
                </td>
                <td>@dto.SourcePath</td>
                <td style="white-space: nowrap;">
                    @Html.ActionLink("Remove Password", "RemovePassword", "Previews", new { area = "Sources", id = dto.SourceID }, new { @class = "btn btn-mini" })
                </td>
            </tr>
        }
    </tbody>
</table>