@using Profiling2.Domain.Prf
@using Profiling2.Domain.Prf.Sources
@model AdminUser
@{
    ViewBag.Title = Model.UserID;
}

<h2>@Model.UserID</h2>

@if (Model.Archive)
{
    <div class="alert">This user is archived.</div>
}

<hr />

@using (Html.BeginForm("Edit", "Users", FormMethod.Post, new { @class = "form-horizontal" }))
{
    @Html.Partial("_UserAttributes")
    
    @Html.Partial("_UserRoles")

    if (Model.Archive)
    {
        <div class="form-actions">
            @Html.ActionLink("Enable Account", "Enable", "Users", new { area = "System", id = Model.Id }, new { @class = "btn btn-primary" })
            @Html.ActionLink("Back", "Archived", "Users", new { area = "System" }, new { @class = "btn" })
        </div>
    }
    else
    {
        <div class="form-actions">
            @Html.ActionLink("Edit Account", "Edit", "Users", new { area = "System", id = Model.Id }, new { @class = "btn btn-primary" })
            @if (new string[] { "LocalMembershipProvider", "SetupMembershipProvider" }.Contains(Membership.Provider.Name))
            {
                @Html.ActionLink("Change Password", "Password", "Account", new { area = "", id = Model.Id }, new { @class = "btn btn-primary" })
            }
            @Html.ActionLink("Back", "Index", "Users", new { area = "System" }, new { @class = "btn" })
            @Html.ActionLink("Archive Account", "Archive", "Users", new { area = "System", id = Model.Id }, new { @class = "btn btn-danger" })
        </div>
    }
}