@using Profiling2.Domain.DTO;
@using Profiling2.Domain.Prf.Sources;
@{
    ViewBag.Title = "Lucene";
}

<h2>Lucene Index Management</h2>

<h3>Persons</h3>

<p>
    @Html.ActionLink("Create Person Indexes", "CreatePersonIndexes", "Lucene")
</p>

<p>
    @Html.ActionLink("Delete Person Indexes", "DeletePersonIndexes", "Lucene")
</p>

<p>
    @Html.ActionLink("Person Search", "PersonSearch", "Lucene")
</p>

<h3>Units</h3>

<p>
    @Html.ActionLink("Create Unit Indexes", "CreateUnitIndexes", "Lucene")
</p>

<p>
    @Html.ActionLink("Delete Unit Indexes", "DeleteUnitIndexes", "Lucene")
</p>

<p>
    @Html.ActionLink("Unit Search", "UnitSearch", "Lucene")
</p>

<h3>Screening Responses</h3>

<p>
    @Html.ActionLink("Create Screening Response Indexes", "CreateScreeningResponseIndexes", "Lucene")
</p>

<p>
    @Html.ActionLink("Delete Screening Response Indexes", "DeleteScreeningResponseIndexes", "Lucene")
</p>

<p>
    @Html.ActionLink("Screening Response Search", "ScreeningResponseSearch", "Lucene")
</p>

<h3>Sources</h3>

<p>
    @Html.ActionLink("View Source Index Log", "Index", "SourceIndexLog")
</p>

<p>
    @Html.ActionLink("Delete Source Index Logs", "DeleteAll", "SourceIndexLog")
</p>

<p>
    @Html.ActionLink("Source Index Log Stats", "Stats", "SourceIndexLog")
</p>

<p>
    @Html.ActionLink("Create Source Indexes", "CreateSourceIndexes", "Lucene")
</p>

<p>
    @Html.ActionLink("Delete Source Indexes", "DeleteSourceIndexes", "Lucene")
</p>

<p>
    @Html.ActionLink("Source Search", "SourceSearch", "Lucene")
</p>

<h3>Events</h3>

<p>
    @Html.ActionLink("Create Event Indexes", "CreateEventIndexes", "Lucene")
</p>

<p>
    @Html.ActionLink("Delete Event Indexes", "DeleteEventIndexes", "Lucene")
</p>

<p>
    @Html.ActionLink("Event Search", "EventSearch", "Lucene")
</p>

<h3>Requests</h3>

<p>
    @Html.ActionLink("Create Request Indexes", "CreateRequestIndexes", "Lucene")
</p>

<p>
    @Html.ActionLink("Delete Request Indexes", "DeleteRequestIndexes", "Lucene")
</p>

<p>
    @Html.ActionLink("Request Search", "RequestSearch", "Lucene")
</p>