@using Profiling2.Domain.Prf.Persons
@model IList<Person>
@{
    ViewBag.Title = "Wanted Commanders";
}
@section scripts
{
  $(document).ready(function() {
    new Profiling.DataTable("wanted-table", {
      bServerSide: false,
      aaSorting: [ [ 1, 'desc' ] ]
    });
  }); 
}

<h2>Wanted Commanders</h2>

<p>
  List of @Html.ActionLink("commanders", "Commanders", "Careers", null, null) cross-referenced with list of
  @Html.ActionLink("wanted people by background information", "Wanted", "Persons", null, null) and
  @Html.ActionLink("wanted people by action taken", "Wanted", "ActionsTaken", null, null). 
</p>

<hr />

<table id="wanted-table" class="table table-bordered table-hover table-condensed">
  <thead>
    <tr>
      <th>Person</th>
      <th>Responsibilities</th>
    </tr>
  </thead>
  <tbody>
    @foreach (Person p in Model)
    {
      <tr>
        <td style="white-space: nowrap;">
          @Html.ActionLink(p.Name, "Details", "Persons", new { id = p.Id, area = "Profiling" }, null)
        </td>
        <td>@p.PersonResponsibilities.Count</td>
      </tr>
    }
  </tbody>
</table>