@using Profiling2.Web.Mvc.Areas.Profiling.Controllers.ViewModels
@model ActionTakenTypeViewModel

@if (!ViewData.ModelState.IsValid)
{
    <div class="alert alert-error">
        @Html.ValidationSummary()
    </div>
}
    
<fieldset>
    <div class="control-group">
        <label class="control-label">Name</label>
        <div class="controls">
            @Html.TextBoxFor(x => x.ActionTakenTypeName, new { @class = "input-xxlarge" })
        </div>
    </div>
    <div class="control-group">
        <label class="control-label">Notes</label>
        <div class="controls">
            @Html.TextAreaFor(x => x.Notes, new { @class = "input-xxlarge" })
        </div>
    </div>
    <div class="control-group">
        <label class="control-label">Is Remedial?</label>
        <div class="controls">
            @Html.CheckBoxFor(x => x.IsRemedial, new { @class = "input-xxlarge" })
        </div>
    </div>
    <div class="control-group">
        <label class="control-label">Is Disciplinary?</label>
        <div class="controls">
            @Html.CheckBoxFor(x => x.IsDisciplinary, new { @class = "input-xxlarge" })
        </div>
    </div>
</fieldset>