@using Profiling2.Domain.Prf.Careers
@model IList<Career>
@{
    ViewBag.Title = "Commanders";
}
@section scripts
{
  $(document).ready(function() {
    new Profiling.DataTable("commanders-table", {
      bServerSide: false,
      aaSorting: [ [ 6, 'desc' ] ]
    });
  }); 
}

<h2>Commanders</h2>

<p>List of careers whose rank or role contains the text 'ommander' or 'eader'.</p>
<p>
  @((from c in Model select c.Person).Distinct().Count()) individuals.
</p>

<table id="commanders-table" class="table table-bordered table-hover table-condensed">
  <thead>
    <tr>
      <th>Person</th>
      <th>Rank</th>
      <th>Organization</th>
      <th>Role</th>
      <th>Job</th>
      <th>Unit</th>
      <th>Responsibilities</th>
    </tr>
  </thead>
  <tbody>
    @foreach (Career c in Model)
    {
      <tr>
        <td>@Html.ActionLink(c.Person.Name, "Details", "Persons", new { id = c.Person.Id, area = "Profiling" }, null)</td>
        <td>
          @if (c.Rank != null)
          {
            @Html.ActionLink(c.Rank.ToString(), "Details", "Ranks", new { id = c.Rank.Id, area = "Profiling" }, null)
          }
        </td>
        <td>
          @if (c.Organization != null)
          {
            @Html.ActionLink(c.Organization.OrgShortName, "Details", "Organizations", new { id = c.Organization.Id, area = "Profiling" }, null)
          }
        </td>
        <td>
          @if (c.Role != null)
          {
            @Html.ActionLink(c.Role.ToString(), "Details", "Roles", new { id = c.Role.Id, area = "Profiling" }, null)
          }
        </td>
        <td>@c.Job</td>
        <td>
          @if (c.Unit != null)
          {
            @Html.ActionLink(c.Unit.ToString(), "Details", "Units", new { id = c.Unit.Id, area = "Profiling" }, null)
          }
        </td>
        <td>@c.Person.PersonResponsibilities.Count</td>
      </tr>
    }
  </tbody>
</table>