@using Profiling2.Web.Mvc.Areas.Profiling.Controllers.ViewModels
@model UnitOperationViewModel
@{
    Layout = "";
    ViewBag.Title = "Add Operation";
}

@using (Html.BeginForm("AddOperationModal", "Units", FormMethod.Post, new { id = "operation-add-form" }))
{
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
    <h4>Add Operation</h4>
      <p>Add a new or existing operation to this unit.</p>
  </div>
  <div class="modal-body form-horizontal">
    <div id="validation-errors"></div>
    @Html.HiddenFor(x => x.UnitId)
    <fieldset>
        <div class="control-group">
            <label class="control-label">Unit</label>
            <div class="controls">
                <span class="input-xxlarge uneditable-input">@Model.UnitName</span>
            </div>
        </div>
        <div class="control-group">
            <label class="control-label">Operation</label>
            <div class="controls">
                @Html.HiddenFor(x => x.OperationId, new { @class = "input-xxlarge" })
            </div>
        </div>
        <div class="control-group">
            <label class="control-label">Start Date</label>
            <div class="controls">
                <span class="muted">Year</span> @Html.TextBoxFor(x => x.YearOfStart, new { @class = "input-mini" })
                <span class="muted">Month</span> @Html.TextBoxFor(x => x.MonthOfStart, new { @class = "input-mini" })
                <span class="muted">Day</span> @Html.TextBoxFor(x => x.DayOfStart, new { @class = "input-mini" })
            </div>
        </div>
        <div class="control-group">
            <label class="control-label">End Date</label>
            <div class="controls">
                <span class="muted">Year</span> @Html.TextBoxFor(x => x.YearOfEnd, new { @class = "input-mini" })
                <span class="muted">Month</span> @Html.TextBoxFor(x => x.MonthOfEnd, new { @class = "input-mini" })
                <span class="muted">Day</span> @Html.TextBoxFor(x => x.DayOfEnd, new { @class = "input-mini" })
            </div>
        </div>
    </fieldset>
  </div>
  <div class="modal-footer">
    <a id="modal-operation-add-button" class="btn btn-primary">Save</a>
    <button class="btn" data-dismiss="modal" aria-hidden="true">Cancel</button>
  </div>
}