@using Profiling2.Domain.Prf.Units
@using Profiling2.Domain.Prf
@model IList<Unit>
@{
    ViewBag.Title = "Units";
}
@section scripts
{
  $(document).ready(function() {
    new Profiling.DataTable("units-table", {
      bServerSide: false,
      aaSorting: [ [ 2, 'desc' ] ]
    });
  }); 
}

<h2>Units - Current Numbers</h2>

<p>This table displays the number of current commanders, deputy commanders and individuals for each unit.</p>

<hr />

<table id="units-table" class="table table-bordered table-hover table-condensed">
  <thead>
    <tr>
      <th>Name</th>
      <th>Organization</th>
      <th>Commanders</th>
      <th>Deputies</th>
      <th>Individuals</th>
    </tr>
  </thead>
  <tbody>
    @foreach (Unit u in Model)
    {
      <tr>
        <td>@Html.Partial("_UnitLinkAndDates", u)</td>
        <td>
          @if (u.Organization != null)
          {
            @Html.ActionLink(u.Organization.OrgShortName, "Details", "Organizations", new { area = "Profiling", id = u.Organization.Id }, null)
          }
        </td>
        <td>@u.GetCommanders(true).Select(x => x.Person).Distinct().Count()</td>
        <td>@u.GetDeputyCommanders(true).Select(x => x.Person).Distinct().Count()</td>
        <td>@u.Careers.Where(x => x.IsCurrentCareer).Select(x => x.Person).Distinct().Count()</td>
      </tr>
    }
  </tbody>
</table>