@using Profiling2.Web.Mvc.Areas.Profiling.Controllers.ViewModels
@model PersonAliasViewModel

@if (!ViewData.ModelState.IsValid)
{
    <div class="alert alert-error">
        @Html.ValidationSummary()
    </div>
}

<div id="validation-errors"></div>

<fieldset>
    @Html.HiddenFor(x => x.PersonId)
    <div class="control-group">
        <label class="control-label">
            First Name(s)
        </label>
        <div class="controls">
            @Html.TextBoxFor(x => x.FirstName, new { @class = "input-xxlarge" })
            <i class="accordion-toggle icon-info-sign" title="The first name alias for this individual."></i>
        </div>
    </div>
    <div class="control-group">
        <label class="control-label">
            Last Name(s)
        </label>
        <div class="controls">
            @Html.TextBoxFor(x => x.LastName, new { @class = "input-xxlarge" })
            <i class="accordion-toggle icon-info-sign" title="The last name alias for this individual."></i>
        </div>
    </div>
    <div class="control-group">
        <label class="control-label">
            Notes
        </label>
        <div class="controls">
            @Html.TextAreaFor(x => x.Notes, new { @class = "input-xxlarge" })
            <i class="accordion-toggle icon-info-sign" title="Notes about this alias."></i>
        </div>
    </div>
</fieldset>
