@using Profiling2.Web.Mvc.Areas.Profiling.Controllers.ViewModels
@model UnitViewModel

@if (!ViewData.ModelState.IsValid)
{
<div class="alert alert-error">
    @Html.ValidationSummary()
</div>
}

<div id="validation-errors"></div>
    
<fieldset>
    <div class="control-group">
        <label class="control-label">Name</label>
        <div class="controls">
            @Html.TextBoxFor(x => x.UnitName, new { @class = "input-xxlarge" })
        </div>
    </div>
    <div class="control-group">
        <label class="control-label">Organization</label>
        <div class="controls">
             @Html.HiddenFor(x => x.OrganizationId, new { @class = "input-xxlarge" })
        </div>
    </div>
    <div class="control-group">
        <label class="control-label">Start Date</label>
        <div class="controls">
            <span class="muted">Year</span> @Html.TextBoxFor(x => x.YearOfStart, new { @class = "input-mini" })
            <span class="muted">Month</span> @Html.TextBoxFor(x => x.MonthOfStart, new { @class = "input-mini" })
            <span class="muted">Day</span> @Html.TextBoxFor(x => x.DayOfStart, new { @class = "input-mini" })
            <i class="accordion-toggle icon-info-sign" title="The date (yyyy-mm-dd) when this unit started.  If parts of the date are not known, they can be left blank, for example 2009 - - 29."></i>
        </div>
    </div>
    <div class="control-group">
        <label class="control-label">End Date</label>
        <div class="controls">
            <span class="muted">Year</span> @Html.TextBoxFor(x => x.YearOfEnd, new { @class = "input-mini" })
            <span class="muted">Month</span> @Html.TextBoxFor(x => x.MonthOfEnd, new { @class = "input-mini" })
            <span class="muted">Day</span> @Html.TextBoxFor(x => x.DayOfEnd, new { @class = "input-mini" })
            <i class="accordion-toggle icon-info-sign" title="The date (yyyy-mm-dd) when this unit ended.  If parts of the date are not known, they can be left blank, for example 2009 - - 29."></i>
        </div>
    </div>
    <div class="control-group">
        <label class="control-label">Background Information</label>
        <div class="controls">
            @Html.TextAreaFor(x => x.BackgroundInformation, new { @class = "input-xxlarge" })
        </div>
    </div>
    @Html.HiddenFor(x => x.Archive)
    <div class="control-group">
        <label class="control-label">Notes</label>
        <div class="controls">
            @Html.TextAreaFor(x => x.Notes, new { @class = "input-xxlarge" })
        </div>
    </div>
</fieldset>